@font-face {
    font-family:"BellGothicStd-Bold";
    src:url(BellGothicStd-Bold.otf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/background.jpg);
    background-attachment: fixed;
    font-size: 20px;
    font-family: 'BellGothicStd-Bold';
}
#wrapper {
    min-height: 100%;
    width: 920px;
    margin: 0 auto;
    position: relative;
    margin-top: 220px;
    height: 600px;
}

#doc {
    width: 920px;
    border-radius: 23px;
    height: 600px;
    background-color: darkRed;
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    position: absolute;
    top: 0px;
    left: 0px;
}

#content {
    width: 846px;
    height: 530px;
    position: absolute;
    background-image: url('../images/content_background.png');
    top: 35px;
    left: 37px;
}

#content_feed {
    width: 846px;
    height: 530px;
    position: absolute;
    background-image: url('../images/feedback_background.jpg');
    top: 35px;
    left: 37px;
}

#zagol {
    width: 350px;
    float: left;
    margin-top: 38px;
    margin-left: 30px;
}
#zagol h2 {
    color: #551a14;
    margin: 0px;
    font-weight: 100;
    font-size: 30px;
}

#photo {
    margin: 32px 0 0 34px;
    float: left;
}
#top {
    width: 615px;
    height: 275px;
}
#data {
    float: left;
    width: 310px;
    margin: 59px 0 0 30px;
    color: #1a0503;
    font-size: 20px;
}

#data p {
    margin:0px;
}

a {
    color: #000;
}

#skill {
    height: 134px;
    width: 422px;
    margin-left: 34px;
    line-height: 24px;
}

#skill_text{
    margin-top:14px;
    width: 666px;
}

#skill p {
    margin: 0;
    color: #752d23;
}
#skill h2 {
    margin: 0;
    margin-top:18px;
    height: 28px;
}

#social_network{
    height: 97px;
    width: 161px;
    margin-left:32px;
    line-height: 24px;
    float: left;
}
#social_network  h2{
    margin:15px 0 0 0;
    font-weight:100;
}

#social_network a {
    display: block;
    margin: 14px 13px 0 0;
    height: 42px;
    width: 45px;
    float: left;
}
.mid:hover {
    margin-top: 10px !important;
} 
.mid:last-child {
    margin-right: 0 !important;
}

#me {
    height: 101px;
    width: 450px;
    float: left;
    margin-left: 79px;
}

#me h2 {
    display: block;
    margin: 9px 0 0 0;
    width: 420px;
    height: 30px;
    font-weight:100;
}

#me p {
    margin: 16px 0 0 0;
}

#bottom {
    height: 103px;
    width: 846px;
}

#input_field {
    float: left;
    margin-left: 33px;
    width: 343px;
}

#input_field input {
    width: 338px;
    height: 30px;
    border-radius: 10px;
    color: #c58577;
    margin:0 0 8px;
    background-color: #fafaf9;
    border:none;
}

#input_field h2 {
    margin: 31px 0 69px 7px;
    height: 29px;
}



#input_field p {
    margin: 0 0 5px 7px;
    color: #631a1a;
}

#input_field textarea {
    width: 338px;
    height: 80px;
    border-radius: 10px;
    border: none;
    resize: none;
    color: #631a1a;
}

#button input{
  width: 100px;
  height: 31px;
  margin: 18px 0 0 236px;
  color: #4e1515;
}

#capcha {
    float: left;
    height: 213px;
    margin: 168px 0 0 49px;
    width: 187px;
}

#capcha input {
    width: 185px;
    height: 28px;
    border-radius: 8px;
    border: none;
    color: #631a1a;
    
}

#capcha a{
    font-size: 15px;
    float: left;
    color: #4e1515;
    margin:205px 0 0 49px;
}

#page1 {
   margin: 103px 0 0 -21px;
   width: 192px; 
}







